p{
   font-family:"Ink free","MV Boli",sans-serif;
   font-style:"italic";
   font-size:"18px";
   background-color:black;
   color:white;
   text-decoration:none;
   font-width:"bold";
   }
   
   h1{
   font-family:fantasy; 
   font-width="bold";
   color:white;
   }
   html{
   
   background-color:black;
   
   }